@import "tailwindcss";

@layer base {
  button:not(:disabled),
  [role="button"]:not([aria-disabled="true"]) {
    cursor: pointer;
  }

  button:disabled,
  [role="button"][aria-disabled="true"] {
    cursor: not-allowed;
  }

  button {
    cursor: pointer;
  }
}

@theme inline {
  --font-sans: var(--font-pretendard);

  --color-gray-50: #fafafa;
  --color-gray-100: #f2f2f2;
  --color-gray-200: #dddddd;
  --color-gray-300: #cccccc;
  --color-gray-400: #a4a4a4;
  --color-gray-500: #737373;
  --color-gray-600: #535353;
  --color-gray-700: #333333;
  --color-gray-800: #262626;
  --color-gray-900: #121212;

  --color-orange-100: #fff8e4;
  --color-orange-200: #feefdc;
  --color-orange-300: #ffd19b;
  --color-orange-400: #ffa96c;
  --color-orange-500: #ff8442;
  --color-orange-600: #ff6c00;
  --color-orange-700: #dc5203;
  --color-orange-alpha-20: rgb(255 158 89 / 20%);
  --color-orange-alpha-30: rgb(177 77 1 / 30%);

  --color-blue-100: #c0e8e4;
  --color-blue-200: #00d4be;
  --color-blue-300: #009d97;
}
